.reviews-header{
    font-weight: 500;
    font-size: 2rem;
    font-family: 'Nunito Sans', sans-serif;
}
.review-container-parent {
    height: 450px;
    overflow: scroll;
}
.review-container{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
    margin: 2%;
    border-radius: 10px;
    padding: 5px;
}
.review-username{
    color:black;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
}
.review-username span{
    font-weight: lighter;
    font-style: italic;
    font-size: 1.00rem;
}