.categoryMenu {
height: 100px;
}

.categoryMenu_items{
    display: flex;

    justify-content: center;
}

.categoryButtons{
    background-color: white;
    margin-top: 3%;
    font-family: 'Nunito Sans', sans-serif;
    margin-right: 2%;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    color:black;
}
.categoryButtons:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .1s ease-in;

}

@media screen and (min-width: 1700px){
    .categoryButtons{
        font-size: 1.6rem;
        border-radius: 20px;

    }
}
@media screen and (max-width: 768px){
    .categoryMenu{
        width: 100%;
    }
    .categoryMenu_items{
        margin-top: 3%;
        overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    padding-bottom: 10px;
    }
    .categoryButtons{
        margin-top: 7%;
    }
}