.product-list-container > h2 {
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 5%;
}

.product-list{
    margin-bottom: 20%;
}
@media screen and (max-width: 768px) {
    .product-list-container{
        width: 100%;
    }
.product-list{
    width: 100%;
}
}